#bmi
{
    display:flex;
    flex-direction:column;
    align-items:center;
    
}

#height
{
    margin:10px;
}
#weight
{
    margin:10px;
}
#button,#reset
{
    margin:10px;
    width:100px;
}

#button_section
{
    margin:10px;
    display:flex;
}